@keyframes anima{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

/* VARIAVEIS */

body{
    font-family: Verdana;
    font-size: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'cabecalho'
                         'principal'
                         'rodape';
}

:root{

    --corPri:#78247a;
    --corSec:#fff;

}
/* HEADER */

.cabecalho{
    grid-area: cabecalho;
    background-color: var(--corPri);
    color: var(--corSec);
}

.cabecalho-ini{
    display: flex;
    align-items: center;
    padding: 50px;
}
.cabecalho-imagem{
    width: 50px;
    margin-left: 60px;
}
.cabecalho-titulo{
    margin-right: auto;
    margin-left: 10px;
}

.cabecalho-botao{
    border-radius: 5px;
    border: 2px solid var(--corSec);
    background-color: var(--corPri);
    color: var(--corSec);
    padding: 15px;
    margin-right: 50px;
}

.cabecalho-botao:hover{
    cursor: pointer;
    background-color: var(--corSec);
    color: var(--corPri);
    transition: all 0.3s linear;
}

.cabecalho2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho2-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
    padding: 10px;
}

.cabecalho2-titulo{
    font-size: 50px;
}

.cabecalho2-subtitulo{
    font-size: 16px;
}

.cabecalho2-botoes{
    display: flex;
    gap: 30px;
}

.cabecalho2-botao1, .cabecalho2-botao2{
    border-radius: 5px;
    border: 2px solid var(--corSec);
    background-color: var(--corPri);
    color: var(--corSec);
    padding: 20px;
    margin-right: 50px;
    width: 180px;
    height: 60px;
    font-size: large;
}

.cabecalho2-botao1:hover, .cabecalho2-botao2:hover{
    cursor: pointer;
    background-color: var(--corSec);
    color: var(--corPri);
    transition: all 0.3s linear;
}

.cabecalho2-imagem{
    height: 500px;
    margin-right: 50px;
}

/* MAIN */

.conteudo{
    grid-area: principal;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 15px 80px 30px;
    text-align: center;
}

.conteudo-titulo{
    font-size: 32px;
}

.conteudo-paragrafo{
    color: var(--corPri);
    padding: auto;
    margin-bottom: 20px;
}

.conteudo-paragrafo2, .conteudo-titulo{
    padding: 10px;
}

.conteudo-paragrafo2{
    color: #8b8b8b;
}

.conteudo-blocos{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: start;
    gap: 40px;
}

.conteudo-bloco1{
    background-color: var(--corPri);
    border-radius: 7px;
    padding: 40px;
    
}

.conteudo-bloco1:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.conteudo-bloco1 > h3{
    font-size: 20px;
    padding-bottom: 10px;
}

.conteudo-bloco1 > p{
    color: var(--corSec);
}

/* FOOTER */

.rodape{
    grid-area: rodape;
    background-color: var(--corPri);
    color: var(--corSec);
}

.rodape-titulo{
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
}

.rodape-dados{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding: 50px;
}

.rodape-dados div{
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

/* RESPONSIVO */
/* tablet */
@media screen and (max-width:1200px){

    .cabecalho-imagem{
        margin-left: 10px;
    }

    .cabecalho2-titulo{
        font-size: 35px;
    }
    .cabecalho2{
        display: grid;
        text-align: center;
        justify-items: start;
    }
    .cabecalho2-div{
        align-items: center;
        margin: auto;
        padding: 40px;
    }
    .cabecalho2-imagem{
        margin: 0 auto;

    }

    .conteudo-principal{
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .conteudo-blocos{
        grid-template-columns: repeat(2,1fr);
    }

    .conteudo-bloco1{
        margin: 0 auto;
    }
    .conteudo-bloco1 > h3, .conteudo-bloco1 > p{
        padding: 10px;
    }

    .rodape-dados{
        padding: 20px;
        margin: 0;
        margin-bottom: 30px;
    }

    .rodape-dados > div{
        margin: 20px auto;
        padding: 10px;
    }

}

/* smartphone */

@media screen and (max-width: 750px) {

    .cabecalho-ini{
        padding: 20px;
        margin: 0 auto;
    }

    .cabecalho-botao{
        display: none;
    }

    .cabecalho2-titulo{
        font-size: 30px;
    }

    .cabecalho2-botoes{
        flex-direction: column;
        margin-left: 45px;
    }

    .cabecalho2-div{
        padding: 40px;
        width: 100%;
        font-size: 20px;
    }

    .cabecalho2-imagem{
        width: 100%;
        height: auto;
    }

    .conteudo-blocos{
        grid-template-columns: repeat(1,1fr);
    }

    .conteudo-principal{
        padding: 40px;
        margin: 0 auto;
    }

    .rodape{
        margin: 0 auto;
    }

    .rodape-titulo{
        padding: 20px;
        margin: 10px auto;
        margin-top: 50px;
    }

    .rodape-dados{
        flex-direction: column;
        display: flex;
        padding: 10px;
        font-size: 20px;
    }

    .rodape-dados > div{
        margin: 20px auto;
        padding: 10px;
    }

}